.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link:hover {
  color: rgb(253, 232, 44);
  background-color: #2f80ed;
}
