/* .page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /* max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  /* margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  /* font-family: "Helvetica Neue", Arial, sans-serif;
}  */

/* Секция header */

/* @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}*/

/* @keyframes rotation {
  from {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  to {
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
  }
}*/

/* .rotation {
  animation: rotation 20s linear infinite;
}*/

/*.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
 /* position: relative;
  align-items: center;
  justify-content: left;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0;
  text-align: left;
  background-color: #f2f2f2;
}

.header__title {
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  max-width: 600px;
  margin: 0 0 0 64px;
  text-align: left;
  z-index: 2;
}

.header__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  overflow: hidden;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  color: rgb(220, 50, 120);
  transition-duration: 0.5s;
  opacity: 0.5;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/*.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  object-position: right bottom;
  z-index: 1;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}

.logo {
  width: 228px;
  height: 32px;
} */

/* Секция description */

/* .two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns__brief {
  min-width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: grid;
  row-gap: 30px;
  /*column-gap: 30px;
}*/

/*.two-columns__paragraph {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}

/*.two-columns__paragraph:last-of-type {
  margin-bottom: 30px;
}*/

/*.two-columns__span-accent {
  font-weight: bold;
} */

/* Секция techniques */

 /* .techniques {
  min-width: 80%;
}

.techniques__title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: auto;
}

.techniques__subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  padding: 20px 0 0;
  margin: auto;
}

.cards {
  width: 920px;
  display: grid;
  grid-template-columns:repeat(auto-fill, 240px);
  gap: 100px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 60px 0 100px;
}

.cards__item {
  width: 240px;
  position: relative;
  text-align: center;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: auto;
  padding: 43px 0 0;
}

.cards__description {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
} */

/* Секция video */

/* .video {
  margin-top: -20px;
}

.video-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: auto;
}

.video-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  padding: 20px 0 50px;
  margin: auto;
}

.video__iframes {
  width: 1050px;
  display:flex;
  gap: 20px;
  align-items: center;
  margin: auto;
}

.video__iframe {
width: 515px;
height: 316px;
} */

/* Секция oakley */

/* .oakley {
background-color:#f2f2f2;
z-index: 0;
margin: -60px 0 0 0;
}

.oakley__two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 160px;
  padding-bottom: 100px;
}

.oakley__brief {
  min-width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0;
}

.oakley__main-text {
  min-width: 784px;
  width: 80%;
  display: grid;
  row-gap: 30px;
  /*column-gap: 30px;
}*/

/* .oakley__paragraph {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
} */

/* Секция feynman */

/* .feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  position: relative;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  max-width: 648px;
  margin: auto;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  position: relative;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  padding-top: 70px;
  margin: auto;
  text-align: center;
  z-index: 1;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  object-fit: cover;
  object-position: left bottom;
  z-index: 0;
}

.feynman__link {
  position: absolute;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
}

.feynman__link:hover {
  color: #727272;
  opacity: 0.2;
  transition-duration: 0.5s;
} */

/* Секция digits */

/* .section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 100px auto 0;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  padding: 20px 0 60px;
  margin: auto;
}

.table {
  width: 1100px;
  display: flex;
  row-gap: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px;
  padding: 0;
}

.table__cell {
  width: 250px;
  list-style: none;
  margin: 0;
}

.table__heading {
  text-align: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  text-align: left;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  margin: 0;
} */

/* Секция khan */

/* .khan {
  background-color:#f2f2f2;

}

.khan__container {
  width: 80%;
  margin: auto;
  padding-top: 105px;
}

.khan__autor {
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  text-align: left;

}

.khan__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 1.15px;
  padding-bottom: 50px;
}

.khan__quote{
  width: 790px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin: 50px 0 36px;
}

.khan__quote-autor {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
  margin: 0;
}

.khan__quote-autor-subline {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.15;
  margin: 10px 0 68px;
}

.khan__book-container {
  left: 0;
  bottom: 0;
  object-position: left bottom;
  object-fit: cover;
}

.khan__book-pic {
  width: 620px;
  /*height: 608px;*/
 /* left: 0;
  bottom: 0;
  object-position: left bottom;
  object-fit: cover;
  margin-right: 48px;
}

.khan__buy-link {
  position:absolute;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  color: rgb(248, 80, 2);
  opacity: 0.5;
  transition-duration: 0.5s;

} */


/* Секция kaufman */

/* .kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  top: 0;
}

.kaufman__triangle {
  position: absolute;
  height: 887px;
  width: 887px;
  top: 0;
  right: -210px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  z-index: 0;
}

.section-title_theme_dark {
  position: relative;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  width: 60%;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  position: relative;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
  color: white;
  z-index: 2;
}

.table_theme_dark {
  display:flex;
  row-gap: 0;
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
/* .table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  list-style: none;
  color: white;
  text-align: left;
  z-index: 3;
}

.table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.table__text_theme_dark {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
} */

/* Секция resources */

/* .resources-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 100px auto 0;
}

.resources-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  padding: 20px 0 80px;
  margin: auto;
}

.resources__logo-zone {
  width: 1100px;
  margin: auto;
  padding-bottom: 217px;
}

.logo-zone {
  width: 270px;
  height: 38px;
}

.logo-zone:hover {
  opacity: 0.5;
  background-color:#f2f2f2;
  transition-duration: 0.5s;
} */

/* Секция footer */

/* .footer {
  box-sizing: border-box;
  min-height: 350px;
  margin: 0;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  margin: 0 auto;
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0 18px 0;
}

.column column_content_info {
  display: flex;
  flex-direction: column;
  margin: 0;
  bottom: 0;
}

.column column_content_social {
  display: flex;
  flex-direction: column;
  margin: 0;
  bottom: 0;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column-links {
  list-style: none;
  padding: 20px 0 16px 0;
  margin: 0;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link:hover {
  color: rgb(253, 232, 44);
  background-color: #2f80ed;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
} */
