
/* Надеюсь, что всё сделала правильно */

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

 /* Секция header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  align-items: center;
  justify-content: left;
  display: flex;
  margin: 0;
  text-align: left;
  background-color: #f2f2f2;
}

.header__title {
  font-weight: 600;
  font-size: 102px;
  line-height:96px;
  max-width: 600px;
  left: 64px;
  position: absolute;
  text-align: left;
  margin: 0;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color:#2f80ed
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.main-illustration {
  position:absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  background-color: transparent;
  z-index: 1;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
  width: 228px;
  height: 32px;
}

/* Секция description */

.two-columns {
  display: flex;
  position: relative;
  width: 80%;
  top: 100px;
  margin: 0 auto;
  padding-bottom: 70px;
  justify-content: space-between;
}

.two-columns__brief {
  min-width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin: 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 30px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.two-columns__paragraph {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
}

.span-accent {
  font-weight: bold;
}

/* Секция digits */

.digits {
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

.digits__section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  margin: 0;
}

.digits__section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 60px 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.table__cell {
  width: 250px;
  list-style: none;
}

.table__heading {
  text-align: left;
  line-height: 1.115;
  font-size: 24px;
  font-weight:600;
  margin: 0;
}

.table__text {
  text-align: left;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  margin: 0;
}

/* Секция feynman */

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  margin-top: 100px;
}

.feynman__title {
  position: relative;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  max-width: 648px;
  padding-top: 100px;
  margin: auto;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  position: relative;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  padding-top: 70px;
  margin: auto;
  text-align: center;
  z-index: 1;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 0;
}

.feynman__link {
  position: absolute;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  top: 50%;
  right: 48px;
  text-decoration:#2f80ed;
  z-index: 1;
}

/* Секция kaufman */

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  /*background-size: 887px 887px;*/
}

.kaufman__triangle {
  position: absolute;
  height: 887px;
  width: 887px;
  right: -210px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  z-index: 0;
}

.section-title_theme_dark {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  width: 60%;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
  color: white;
}

.section-subtitle_theme_dark {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
}

.table_theme_dark {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  list-style: none;
  color: white;
  z-index: 1;
}

.table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  text-align: left;
}

.table__text_theme_dark  {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-align: left;
}

/* Секция footer */

.footer {
  min-height: 350px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  margin: 0 auto;
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0 18px 0;
}

.column_content_info {
  display: flex;
  flex-direction: column;
  margin: 0;
  bottom: 0;
}

.column_content_social {
  display: flex;
  flex-direction: column;
  margin: 0;
  bottom: 0;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column-links {
  text-decoration:none;
  list-style:none;
  color: #2f80ed;
  padding: 20px 0 16px 0;
  margin: 0;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
}

.logo_place_footer {
 height: 32px;
 width: 228px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
